/* .headerCsx {
    display: flex;
    position: fixed;
    margin-left: 180px;
    width: 210px;
    height: 70px;
    top: 0;
    left: 0;
    height: auto;
    z-index: 9999;
    text-align: center;
}
 */
