<div class="bg-dark border-right p-3" id="sidebar">
  <h3 class="text-light animate__animated animate__fadeInDown">Gifs-App</h3>
  <p style="margin-top: -0.7rem" class="text-light animate__animated animate__fadeInUp">
    <small>by casa</small><small style="color: #99aab5">X</small
    ><small>more</small>
  </p>
  <hr class="text-white" />
  <div class="list-group list-reset">
    <a *ngFor="let histo of historial"
       href="#" class="list-group-item list-group-item-action"
       (click)="buscar( histo )"
       >
       {{histo | titlecase}}
       </a>
       <button *ngIf="historial.length > 0" class="btn btn-danger" type="button" (click)="borrarHistorial()">
        Borrar Historial
      </button>
  </div>
</div>
